local qconsts       = require 'Q/UTILS/lua/q_consts'
local is_base_qtype = require 'Q/UTILS/lua/is_base_qtype'

local tmpl = qconsts.Q_SRC_ROOT ..
  "/OPERATORS/F1S1OPF2_VAL/lua/f1s1opf2_val.tmpl"

return function (
  a_qtype,
  s_qtype
  )

    assert(is_base_qtype(a_qtype))
    assert(is_base_qtype(s_qtype))

    local subs = {};
    subs.fn = "<<operator>>_" .. a_qtype .. "_" .. s_qtype
    subs.a_qtype = a_qtype
    subs.a_ctype = qconsts.qtypes[a_qtype].ctype
    subs.out_qtype = subs.a_qtype
    subs.out_ctype = subs.a_ctype
    subs.comparison = ' <<comparison>> '
    subs.s_qtype = s_qtype
    subs.s_ctype = qconsts.qtypes[subs.s_qtype].ctype
    subs.tmpl = tmpl
    return subs
end

