return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
extern int
const_${out_qtype}(
  ${out_ctype} * const restrict X,
  uint64_t nX,
  ${out_ctype} *ptr_val,
  uint64_t dummy
  );
   ]],
   definition = [[

#include "_const_${out_qtype}.h"


//START_FUNC_DECL
int
const_${out_qtype}(
  ${out_ctype} * const restrict X,
  uint64_t nX,
  ${out_ctype} *ptr_val,
  uint64_t dummy
  )
//STOP_FUNC_DECL
{
  int status = 0;
  ${out_ctype} val = *ptr_val;
#pragma omp parallel for schedule(static, 4096)
  for ( uint64_t i = 0; i < nX; i++ ) { 
   // __builtin_prefetch(X+i+1024, 1, 1);
    X[i] = val;
  }
  return status;
}


   ]]
}
