return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include <stdio.h>
#include <stdbool.h>
#include <stdint.h>
#include "q_macros.h"
#include "get_bit_u64.h"
//START_FOR_CDEF
extern int
${fn}(
      const ${a_ctype} * restrict A,
      const uint64_t * restrict B,
      uint64_t *ptr_aidx,
      uint64_t nA,
      ${a_ctype} *C,
      uint64_t nC,
      uint64_t *ptr_num_in_C
      );
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"

int
${fn}(
      const ${a_ctype} * restrict A,
      const uint64_t * restrict B,
      uint64_t *ptr_aidx,
      uint64_t nA,
      ${a_ctype} *C,
      uint64_t nC,
      uint64_t *ptr_num_in_C
      )
{
  int status = 0;
  
  // START: Basic checks on input parameters
  if ( A == NULL ) { go_BYE(-1); }
  if ( B == NULL ) { go_BYE(-1); }
  if ( C == NULL ) { go_BYE(-1); }
  if ( nA == 0 ) { go_BYE(-1); }
  if ( nC == 0 ) { go_BYE(-1); }
  if ( ptr_num_in_C == NULL ) { go_BYE(-1); }
  if ( ptr_aidx == NULL ) { go_BYE(-1); }
  uint64_t num_in_C = *ptr_num_in_C;
  uint64_t aidx = *ptr_aidx;
  if ( num_in_C > nC ) { 
    go_BYE(-1); 
  }
  if ( aidx >= nA ) { go_BYE(-1); }
  //-------------------------------
  
  for ( ; aidx < nA; aidx++ ) { 
    // TODO P2 Use bit shifting to avoid call to get_bit_u64
    int b = get_bit_u64(B, aidx);
    if ( b == 1 ) {
      if ( num_in_C == nC ) { break; }
      C[num_in_C++] = A[aidx];
    }
    // TODO if ( b > 1 ) { ERROR } 
  }
  *ptr_num_in_C = num_in_C;
  *ptr_aidx     = aidx;
  if ( num_in_C > nC ) { go_BYE(-1); }
  if ( aidx > nA ) { go_BYE(-1); }
  //-------------------------------
BYE:
  return status;
}
   ]]
}
