local qconsts = require 'Q/UTILS/lua/q_consts'
return function (
  f1type, 
  f2type
  )
  local is_base_qtype = require('Q/UTILS/lua/is_base_qtype')
  local subs = {}
  assert(is_base_qtype(f1type), "f1type must be base type")
  assert(is_base_qtype(f2type), "f2type must be base type")

  subs.fn = "<<operator>>_" .. f1type .. "_" .. f2type 
  subs.in1_ctype   = qconsts.qtypes[f1type].ctype
  subs.in2_ctype   = qconsts.qtypes[f2type].ctype
  subs.out_ctype = "uint64_t"
  subs.out_qtype = "B1"
  subs.comparator = " <<comparator>> "
  subs.tmpl = "OPERATORS/F1F2OPF3/lua/f1f2opf3_cmp.tmpl"
  subs.srcdir = "OPERATORS/F1F2OPF3/gen_src/"
  subs.incdir = "OPERATORS/F1F2OPF3/gen_inc/"
  subs.srcs = { "UTILS/src/set_bit_u64.c" }
  subs.incs = { "OPERATORS/F1F2OPF3/gen_inc/", "UTILS/inc/"}
  return subs
end
