return require 'Q/UTILS/lua/code_gen' {
   declaration = [[
#include <omp.h>
#include <stdio.h>
#include <stdbool.h>
#include <stdint.h>
#include <stdlib.h>
//START_FOR_CDEF
extern int
${fn}(  
      ${f1_ctype} * const restrict in1,  
      ${f2_ctype} * const restrict in2,  
      uint32_t nR,  
      void *dummy,
      ${f3_ctype} * restrict out 
      ) 
;
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"
#include "${fn_ispc}.h"

int
${fn}(  
      ${f1_ctype} * const restrict in1,  
      ${f2_ctype} * const restrict in2,  
      uint32_t nR,  
      void *dummy,
      ${f3_ctype} * restrict out 
      )

{ 
  int status = 0;
  uint32_t nT = omp_get_num_threads();
  uint32_t n = (nR / nT ) * nT;
  uint32_t n_per_core = n / nT;
#pragma omp parallel for schedule(static)
  for ( uint32_t i = 0; i < nT; i++ ) {  
    uint32_t lb = i * n_per_core;
    ${fn_ispc}(in1+lb, in2+lb, out+lb, n_per_core);
  }

  // handle the balance 
  for ( uint32_t i = n; i < nR; i++ ) {  
    ${f1_ctype} inv1 = in1[i]; 
    ${f2_ctype} inv2 = in2[i]; 
    ${f3_ctype} outv;
    outv = inv1 ${mathsymbol} inv2;
    out[i] = outv;
  } 

  return status;
}

   ]]
}
