return require 'Q/UTILS/lua/code_gen' { definition = [[
export void
${fn_ispc}(
  uniform ${f1_ctype_ispc} vin1[], 
  uniform ${f2_ctype_ispc} vin2[],
  uniform ${f3_ctype_ispc} vout[],
  uniform int count
  ) 
{
  // print("hello world\n"); // Note: NOT printf or fprintf
  foreach (index = 0 ... count) {
    varying ${f1_ctype_ispc} a = vin1[index];
    varying ${f2_ctype_ispc} b = vin2[index];
    varying ${f3_ctype_ispc} c;
    ${code}
    vout[index] = c;
  }
}
]]
}
