return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include <stdint.h>
#include <stdbool.h>
#include <stdio.h>
#include "q_macros.h"
//START_FOR_CDEF
extern int
permute_to_${val_qtype}_${perm_qtype}(
    ${val_ctype} *x,
    ${perm_ctype} *p,
    uint32_t n,
    uint64_t ny,
    ${val_ctype} *y
    );
//STOP_FOR_CDEF

]],
definition = [[

#include "permute_${val_qtype}_${perm_qtype}.h"

int
permute_to_${val_qtype}_${perm_qtype}(
    ${val_ctype} *x,
    ${perm_ctype} *p,
    uint32_t n,
    uint64_t ny,
    ${val_ctype} *y
    )
{
  int status = 0;
  for ( uint32_t i = 0; i < n; i++ ) { 
    ${val_ctype} xval = x[i];
    ${perm_ctype} pos = p[i];
    if ( pos < 0 ) { go_BYE(-1); } 
    if ( (uint64_t)pos >= ny ) { go_BYE(-1); } 
    y[pos] = xval;
  }
BYE:
  return status;
}
]]
}
