rs_hmap_aux.*
rs_hmap_chk.*
rs_hmap_del.*
rs_hmap_destroy.*
rs_hmap_get.*
rs_hmap_insert.*
rs_hmap_instantiate.*
rs_hmap_merge.*
rs_hmap_pr.*
rs_hmap_put.*
rs_hmap_resize.*
rs_hmap_row_bindmp.*
*rs_hmap_struct.h
