return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
//START_FOR_CDEF
extern int
${fn}(  
      const bool * restrict const x, // condition field 
      const ${wctype} * const ptr_sval_y, // scalar val
      const ${wctype} * restrict const z, // input field 1
      ${wctype} * restrict const w, // output field
      uint32_t n
      );
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"

int
${fn}(  
      const bool * restrict const x, // condition field 
      const ${wctype} * const ptr_sval_y, // scalar val
      const ${wctype} * restrict const z, // input field 1
      ${wctype} * restrict const w, // output field
      uint32_t n
      )
{
  int status = 0;
  if ( n == 0 ) { go_BYE(-1); }
  if ( x == NULL ) { go_BYE(-1); }
  if ( ptr_sval_y == NULL ) { go_BYE(-1); }
  if ( z == NULL ) { go_BYE(-1); }
  if ( w == NULL ) { go_BYE(-1); }
  ${wctype} sval_y = *ptr_sval_y;

#pragma omp parallel for schedule(static, 256)
  for ( uint32_t i = 0; i < n; i++ ) { 
    if ( x[i] == 1 ) { 
      w[i] = sval_y;
    }
    else {
      w[i] = z[i];
    }
  }
BYE:
  return status;
}
   ]]
}
