return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
extern int
${fn}(  
      uint64_t * restrict const x, // condition field 
      ${ctype} * restrict const y, // input field 1
      ${ctype} * restrict const z, // input field 2
      ${ctype} * restrict const w, // output field
      uint64_t n
      );
   ]],
   definition = [[

#include "_${fn}.h"

int
${fn}(  
      uint64_t * restrict const x, // condition field 
      ${ctype} * restrict const y, // input field 1
      ${ctype} * restrict const z, // input field 2
      ${ctype} * restrict const w, // output field
      uint64_t n
      )
{
  int status = 0;
  if ( n == 0 ) { go_BYE(-1); }
  if ( x == NULL ) { go_BYE(-1); }
  if ( y == NULL ) { go_BYE(-1); }
  if ( z == NULL ) { go_BYE(-1); }
  if ( w == NULL ) { go_BYE(-1); }

#pragma omp parallel for schedule(static, 256)
  for ( uint64_t i = 0; i < n; i++ ) { 
    
    uint64_t widx = i >> 6; // word index
    uint64_t bidx = i & 0x3F; // bit index
    uint32_t rslt = (x[widx] >> bidx) & 0x1;
    if ( rslt == 1 ) { 
      w[i] = y[i];
    }
    else {
      w[i] = z[i];
    }
  }
BYE:
  return status;
}
   ]]
}
