return require 'Q/UTILS/lua/code_gen' {

   declaration = [[

#include "q_incs.h"
//START_FOR_CDEF
extern int
${fn}(  
      bool * restrict const x, // condition field 
      ${wctype} * restrict const y, // input field 1
      bool * restrict const nn_y, 
      ${wctype} * restrict const z, // input field 2
      bool * restrict const nn_z, 
      ${wctype} * restrict const w, // output field
      bool * restrict const nn_w, 
      uint32_t n
      );
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"

int
${fn}(  
      bool * restrict const x, // condition field 
      ${wctype} * restrict const y, // input field 1
      bool * restrict const nn_y, 
      ${wctype} * restrict const z, // input field 2
      bool * restrict const nn_z, 
      ${wctype} * restrict const w, // output field
      bool * restrict const nn_w, 
      uint32_t n
      )
{
  int status = 0;
  if ( n == 0 ) { go_BYE(-1); }
  if ( x == NULL ) { go_BYE(-1); }
  if ( y == NULL ) { go_BYE(-1); }
  if ( z == NULL ) { go_BYE(-1); }
  if ( w == NULL ) { go_BYE(-1); }

#pragma omp parallel for schedule(static, 256)
  for ( uint32_t i = 0; i < n; i++ ) { 
    if ( nn_w != NULL ) { nn_w[i] = true; }
    if ( x[i] ) { 
      w[i] = y[i];
      if ( ( nn_y != NULL ) && ( nn_y[i] == false ) ) {
        if ( nn_w != NULL ) { nn_w[i] = false; }
      }
    }
    else {
      w[i] = z[i];
      if ( ( nn_z != NULL ) && ( nn_z[i] == false ) ) {
        if ( nn_w != NULL ) { nn_w[i] = false; }
      }
    }
  }
BYE:
  return status;
}
   ]]
}
