return require 'Q/UTILS/lua/code_gen' {

   declaration = [[
#include "q_incs.h"
extern int
${fn}(  
      const ${in1_ctype} * restrict in1,  
      const ${in2_ctype} * restrict in2,  
      uint64_t nR1,  
      uint64_t nR2,
      ${out_ctype} *null_val_as_array,
      ${out_ctype} * restrict out 
      ) 
;
   ]],
   definition = [[
#include "_${fn}.h"

int
${fn}(  
      const ${in1_ctype} * restrict in1,  
      const ${in2_ctype} * restrict in2,  
      uint64_t nR1,  
      uint64_t nR2,
      ${out_ctype} *null_val_as_array,
      ${out_ctype} * restrict out 
      )

{ 
  int status = 0;
  if ( in1 == NULL ) { go_BYE(-1); }
  if ( in2 == NULL ) { go_BYE(-1); }
  if ( out == NULL ) { go_BYE(-1); }
  if ( null_val_as_array == NULL ) { go_BYE(-1); }
  ${out_ctype} null_val = *null_val_as_array;
#pragma omp parallel for schedule(static)
  for ( uint64_t i = 0; i < nR1; i++ ) {  
    ${in1_ctype} inv1 = in1[i]; 
    if ( ( inv1 < 0 ) || ( inv1 >= (int64_t)nR2 ) ) {
      out[i] = null_val;
    }
    else {
      out[i] = in2[inv1];
    }
  } 
BYE:
  return status;
}
   ]]
}
