vsadd_specialize.lua
vssub_specialize.lua
vsmul_specialize.lua
vsdiv_specialize.lua

vsrem_specialize.lua
vsand_specialize.lua
vsor_specialize.lua
vsxor_specialize.lua

vseq_specialize.lua
vsneq_specialize.lua
vsgeq_specialize.lua
vsleq_specialize.lua
vsgt_specialize.lua
vslt_specialize.lua

vsltorgt_specialize.lua
vsleqorgeq_specialize.lua
vsgeqandleq_specialize.lua
vsgtandlt_specialize.lua

decr_specialize.lua
exp_specialize.lua
incr_specialize.lua
log_specialize.lua
logit_specialize.lua
logit2_specialize.lua
sqrt_specialize.lua

pow_specialize.lua
sqr_specialize.lua
