local qconsts       = require "Q/UTILS/lua/q_consts"
local qc            = require "Q/UTILS/lua/q_core"
local is_base_qtype = require 'Q/UTILS/lua/is_base_qtype'

return function (
  qtype,
  scalar
  )

  assert(is_base_qtype(qtype))
  local subs = {}; 
  local ctype = assert(qconsts.qtypes[qtype].ctype)
  subs.fn = "<<operator>>_" .. qtype 

  subs.in_qtype    = qtype
  subs.in_ctype    = ctype

  subs.out_qtype   = qtype
  subs.out_ctype   = ctype

  subs.c_code_for_operator = "<<c_code>>;"
  subs.args        = scalar:to_cmem()
  subs.args_ctype  = ctype
  subs.tmpl        = "OPERATORS/F1S1OPF2/lua/arith.tmpl"
  subs.srcdir      = "OPERATORS/F1S1OPF2/gen_src/"
  subs.incdir      = "OPERATORS/F1S1OPF2/gen_inc/"
  return subs
end
