return require 'Q/UTILS/lua/code_gen' {
   declaration = [[
#include <math.h>
#include <omp.h>
#include <stdio.h>
#include <stdbool.h>
#include <stdint.h>
#include "q_macros.h"
//START_FOR_CDEF
extern int
${fn}(  
      const ${f1_ctype} * restrict in,  
      uint64_t nR,
      const ${s1_ctype} * const ptr_sval,
      ${f2_ctype} * restrict out
      ) ;
//STOP_FOR_CDEF
;
   ]],
   definition = [[
#include "${fn}.h"
// TODO P2 #include "${fn_ispc}.h"
int
${fn}(  
      const ${f1_ctype} * restrict in,
      uint64_t nR,  
      const ${s1_ctype} * const ptr_sval,
      ${f2_ctype} * restrict out
      )
{
  int status = 0;
  ${s1_ctype} b = 0;
  // Following needed because we may not always have b for some operations
  // like incr, decr, ....
  if ( ptr_sval != NULL ) { b = *ptr_sval; }
// #pragma omp parallel for schedule(static, ${chunk_size})
  for ( uint32_t i = 0; i < nR; i++ ) {  
    ${f1_ctype} a = in[i]; 
    ${f2_ctype} c;
    ${code}
    out[i] = c;
  } 

  return status;
}
   ]]
}
