return require 'Q/UTILS/lua/code_gen' {
   definition = [[
export void
${fn_ispc}(
  uniform ${f1_ctype_ispc} vin1[], 
  uniform ${s1_ctype_ispc} b
  uniform ${f3_ctype_ispc} vout[],
  uniform int count
  ) 
{
  foreach (index = 0 ... count) {
    varying ${f1_ctype_ispc} a = vin1[index];
    varying ${f2_ctype_ispc} c;
    __code__
    vout[index] = c;
  }
}
]]
}
