return require 'Q/UTILS/lua/code_gen' {
   declaration = [[
#include <math.h>
#include <stdio.h>
#include <stdbool.h>
#include <stdint.h>
#include "q_macros.h"
#include "get_bit_u64.h"
//START_FOR_CDEF
extern int
${fn}(  
      const ${f1_ctype} * const restrict in,
      uint64_t nR,
      void *dummy,
      ${f2_ctype} * restrict out
      ) 
;
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"
int
${fn}(  
      const ${f1_ctype} * const restrict in,
      uint64_t nR,
      void *dummy,
      ${f2_ctype} * restrict out
      )
{
  int status = 0;
  if ( in == NULL ) { go_BYE(-1); }
  if ( nR == 0 ) { go_BYE(-1); }
  uint64_t n = nR / 64;

#pragma omp parallel for schedule(static)
  for ( uint64_t i = 0; i < n; i++ ) {
    out[i] = ~ in[i];
  }
  for ( uint64_t i = n; i < nR; i++ ) {
    out[i] = ~ in[i];
  }
BYE:
  if ( status < 0 ) { WHEREAMI; }
  return status;
}
   ]]
}
