return require 'Q/UTILS/lua/code_gen' {
   declaration = [[
#include <stdio.h>
#include <stdbool.h>
#include <stdint.h>
#include <stdlib.h>
//START_FOR_CDEF
extern int
${fn}(  
      ${ctype} * f1,  
      uint64_t nR
      ) 
;
//STOP_FOR_CDEF
   ]],
   definition = [[

#include "${fn}.h"

int
${fn}(  
      ${ctype} * f1,  
      uint64_t nR
      )

{ 
  int status = 0;
  uint64_t i = 0, j = nR-1; 
  for ( ; i < nR/2; i++, j-- ) {  
    ${ctype} inv1 = f1[i]; 
    ${ctype} inv2 = f1[j];
    f1[i] = inv2;
    f1[j] = inv1;
  } 
  return status;
}
   ]]
}
